<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>SnowHaze VPN</Name>
    <Version>1.1.0</Version>
    <Title>SnowHaze VPN Installer</Title>
    <Publisher>Illotros GmbH</Publisher>
	<ProductUrl>https://snowhaze.com</ProductUrl>
    <!-- Directory name is used in component.xml -->
    <StartMenuDir>SnowHaze VPN</StartMenuDir>
    <TargetDir>@ApplicationsDir@/SnowHazeVPN</TargetDir>
	<RunProgram>@TargetDir@/SnowHaze VPN</RunProgram>
	<CreateLocalRepository>true</CreateLocalRepository>
    <RemoteRepositories>
        <Repository>
            <Url>https://snowhaze.com/snowhaze-vpn-windows-client-packages/</Url>
        </Repository>
    </RemoteRepositories>
</Installer>
